#watever{
    width:85.8%;
    margin:auto;
    
    
}
.news{
    text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 50px 30px;
}
.test{
  display: none;
}

.testli a :hover.test{
  display: block;
}
.sub-menu-1{
  display: none;
}
.menu-1 ul:hover .sub-menu-1{
  display: block;
  position: absolute;
  background: rgb(0,0, 100);
  margin-top: 15px;
  margin-left: -15px;
}
