*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(stana.jpg);
    background-size: cover;
    background-position: center;
    
    font-family: sans-serif;
}
.mebu-bar{
    background: rgb(0, 100, 0);
    text-align: center;
}

.mebu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.mebu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.mebu-bar ul li a{
    text-decoration: none;
    color: #fff;
}
.active, .mebu-bar ul li a:hover{
    background: #2bab0d;
    border-radius: 3px;
   
}
.mebu-bar .fa{
    margin-right: 8px;
}
.sub-menu-l
{
    display: none;
}
.mebu-bar ul li:hover .sub-menu-l{
    display: block;
    position: absolute;
    background: rgb(0, 100, 0);
    margin-top: 15px;
    margin-left: -15px;
    
}
.mebu-bar ul li:hover .sub-menu-l ul{
    display: block;
    margin: 10px;
}
.mebu-bar ul li:hover .sub-menu-l ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    border-radius: 0;
    text-align: left;
}
.mebu-bar ul li:hover .sub-menu-l ul li:last-child
{
    border-bottom: none;
}
.mebu-bar ul li:hover .sub-menu-l ul li a:hover{
    color: #b2ff00;
}
.fa-angle-right{
    float: right;
}
.sub-menu-2{
    display: none;
}
.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    background: rgb(0, 100, 0);
    margin-top: -40px;
    margin-left: 140px;
}

